__pycache__/
*.pyc
*.pyo

# Environment files
.env
config.py

# Virtual environment folder
productivity_env/

# Database files
*.db

# IDE and editor configuration folders
.vscode/
.idea/
.DS_Store
# Log files and temp files
*.log
*.tmp